<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <title>Caffee - </title>
</head>

<body>
    <header id="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
                        <ul>
                            <li>
                                <a href="tel:7751239873">7751239873</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    
                    <a href="#"><img src="" alt="" title="" /></a>
                    
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="">Inicio</a></li>
                        <li><a href="">Historia</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a href="">Visítanos</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Blog</a></li>                   
                        
                    </ul>
                    
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    
    {% block content %}
    {% endblock %}
    <!-- start footer Area -->
    <footer class="footer-area section-gap" style="color: #fff;
    padding-top: 220px;
    background: url() center;
    background-size: cover;">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        
                        <div id="logo">
                            
                    <a href="#"><img src="" alt="" title="" /></a>
                    
                        </div>
                        <p>
                            <nav id="nav-menu-container">
                                <ul class="nav-menu">
                                    
                                    
                                    <a href="#"
                                        class="link"></a> 
                                    
                                </ul>
                            </nav>
                        </p>
                        <p class="footer-text">
                            
                            Copyright &copy;
                            2020 Todos los derechos reservados <br> Este curso fue hecho con <i
                                class="fa fa-heart-o" aria-hidden="true"></i> por <a
                                href="http://www.linkedin.com/in/diegosilvapr">Diego Silva</a>
                            
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Síguenos</h6>
                        <p>Déjanos ser sociales</p>
                        <div class="footer-social d-flex align-items-center">
                            
                            <a href=""><i class="fa fa-facebook"></i></a>
                            
                            
                            <a href=""><i class="fa fa-twitter"></i></a>
                            
                            
                            <a href=""><i class="fa fa-youtube"></i></a>
                            
                            
                            <a href=""><i class="fa fa-instagram"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"
        type="text/javascript"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>