{% extends 'core/base.html' %}

{% block title %} Index {% endblock %}

{% block content %} 


	<!-- start banner Area -->
	<section style="background: url({{cover.image.url}}) center; background-size: cover;" class="banner-area"
		id="home">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-start">
				<div class="banner-content col-lg-7">
					<h6 class="text-white text-uppercase"></h6>
					<h1>
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	
	<!-- Start video-sec Area -->
	<section class="video-sec-area py-5" id="about">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
                <img src="{{FOOTER}} center">
                </div>
				<div class="col-lg-6 video-left">
					<h6>{{index.title}}</h6> 
					<h1>{{index.subtitle}}</h1>
					<p><span></span></p>
					<p>
						{{index.content}}
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End video-sec Area -->
{% endblock %}